@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');    

body{
    font-family: 'New Super Mario Font U', sans-serif;
    background-color: #040420;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;               /* largura barra de rolagem */
  }
  
  body::-webkit-scrollbar-track {
    background: #131338;        /* cor do fundo da barra */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #6b73e6;    /* cor da barra de rolagem */
    border-radius: 20px;       
   
  }

.main-top{
    width: 100%;
    height:600px ;
}

main .container {
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    padding-top: 100px;
    padding-left: 50px;
}

.text, .img-top{
    flex: 1 1  45%; 
    max-width: 50%; 
    padding: 20px; 
}


img{
    width: 550px;
}

h1{
    font-size: 50px;
    padding-left: 30px;
}

#mario-title span:nth-child(1) { color: rgb(0, 162, 255); } /* g */
#mario-title span:nth-child(2) { color: yellow; } /* a */
#mario-title span:nth-child(3) { color: red; } /* b */
#mario-title span:nth-child(4) { color: green; } /* r*/
#mario-title span:nth-child(5) { color: yellow; } /* i */
#mario-title span:nth-child(6) { color: red; } /* e */
#mario-title span:nth-child(7) { color: green; } /* l */
#mario-title span:nth-child(8) {color: red;}
#mario-title span:nth-child(9) { color: yellow; } /* s*/
#mario-title span:nth-child(10) { color: rgb(0, 162, 255);  } /* o */
#mario-title span:nth-child(11) { color: green; } /* u */
#mario-title span:nth-child(12) { color: red; } /* t */
#mario-title span:nth-child(13) { color: yellow; } /* o */
#mario-title span:nth-child(14) { color: rgb(0, 162, 255); } /* g */
#mario-title span:nth-child(15) { color: yellow; } /* a */
#mario-title span:nth-child(16) { color: red; } /* b */
#mario-title span:nth-child(17) { color: green; } /* r*/
#mario-title span:nth-child(18) { color: yellow; } /* i */
#mario-title span:nth-child(19) { color: red; } /* e */
#mario-title span:nth-child(20) { color: green; } /* l */
#mario-title span:nth-child(21) {color: red;}
#mario-title span:nth-child(22) { color: yellow; } /* s*/

p-inicio{
    font-size: 20px;
    color: aliceblue;
}

/* blocos */

.section1{
    width: 100%;
    height: 700px;
}

.container-blocos{
padding: 5px;

}

.bloco{
    width: 70px;
    margin: auto;
}

/* habilidades */

h3{
    text-align: center;
    font-size: 50px;
    /* padding: 20px; */
}

p{
    font-size: 18px;
    padding-left: 35px;
    color: antiquewhite;
}

ul {
    color: antiquewhite;
  }
  

li{
    font-size: 20px;
}


/* projetos */

.main-projetos{
    width: 100;
    height: 700px;
}


.container-projetos {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 80px;
  }
  
  .video-coluna img {
    width: 350px; 
    height: auto;
    display: block;
    border-radius: 15px;
    box-shadow: 10px 10px 8px #2b2929a4;
  }
  

.projetos{
    color: rgb(255, 255, 255);
}

.app{
    width: 35px;
    padding-left: 10px;
    margin-left: 20px;

}

.appl{
    width: 40px;
    padding-left: 10px;
    margin-left: 20px;
}

  @media(max-width: 830px){
     .video-coluna img{
      width: 100%;
      height: auto;
     }
  }
  